.description-deposits {
  background-color: white;
  color: var(--secondary-text-color);
}

.description-deposits__wrap {
  margin: 0 auto;
  display: flex;
  max-width: 1920px;

  @include tablet { 
    background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("../img/deposDescr.jpeg") top center no-repeat;
  background-size: 100%, 100%, 100% 50%, 60% auto;

  @include desktop {
    background: url("../img/deposDescr.jpeg") top right no-repeat;
    background-size: 44% auto, 60% 100%, 60% auto;
  }
  }

}

.description-deposits__container {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
  }
}
.description-deposits__wrap-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(213, 193, 193, 0);

  gap: 60px;
  padding: 20px 0;
  @include desktop {
    
    padding: 60px 0 240px 0;
    width: 50%;
    background-color: white;
    gap: 323px;
  }
}

.description-deposits__text-wrap {
  max-width: 100%;

  @include desktop {
    max-width: 555px;
  }
}

.description-deposits__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 28px;
  @include tablet { 
    font-size: 48px;
    margin-bottom: 48px;
    line-height: 65px;
  }

}

.description-deposits__text {
  font-size: 14px;
  line-height: 26px;

  @include tablet { 
    font-size: 16px;
  }
}

.description-deposits__wrap-right {
  max-width: 580px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  gap: 20px;
  justify-content: space-between;

  @include desktop {
    padding: 80px 20px 100px 30px;
    align-self: flex-end;
  }

  img {
    max-width: 30%;
    display: none;
    @include tablet {
      display: block;
      height: 648px;
      width: 182px;
    }
  }
}

.desctiption-img { 
  border-radius: 20px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;

  @include tablet {
    display: none;
  }
}

.description-deposits__list {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  list-style: none;
  padding-top: 24px;

  @include tablet { 
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
  }

  .item-1 {
    margin-bottom: 40px;
    a {
      color: #5cb3ff;
    }
    @include tablet {
      margin-top: 70px;
      margin-bottom: 70px;

    }
  }
  .item-2 {
    margin-bottom: 40px;
    @include tablet {
      margin-bottom: 70px;
    }
  }
  .item-3 {
    margin-bottom: 40px;
    @include tablet {
      margin-bottom: 45px;
    }
  }
  .item-4 {
    margin-bottom: 30px;
    @include tablet {
      margin-bottom: 50px;
    }
  }
}

.deposits-item { 
  position: relative;
  display: flex;
  gap: 10px;
  padding-left: 50px;
}


.description-deposits__list {
  list-style: none;
  padding: 0;
}

.deposits-item {
  position: relative;
  padding-left: 50px;
  margin-bottom: 20px;
}

.deposits-item::before {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
  top: 5%;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;

  @include tablet { 
    display: none;
  }
}


.item-1::before {
  background-image: url("../img/deposit-1.svg");
}

.item-2::before {
  background-image: url("../img/deposit-2.svg");
}

.item-3::before {
  background-image: url("../img/deposit-3.svg");
}

.item-4::before {
  background-image: url("../img/deposit-4.svg");
}

.item-5::before {
  background-image: url("../img/deposit-5.svg");
}


.features-deposits {
  background-color: #fafbff;
  padding: 120px 0 40px 0;
}

.features-deposits__list {
  display: flex;
  flex-direction: column;
  color: #101010;
  gap: 40px;
}

.features-deposits__item {
  background-color: white;
  border-radius: 20px;
  display: flex;
  padding: 34px;
  gap: 48px;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
  }
}

.features-deposits__text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;

  h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    @include tablet { 
      font-size: 40px;
      font-weight: 700;
      line-height: 54px;
    }
  }
  p {
    font-size: 14px;
    line-height: 26px;
    padding-right: 20px;
    @include tablet { 
      font-size: 16px;
      line-height: 26px;
      padding-right: 61px;
    }

  }
}

.features-deposits__item-odd {
  flex-direction: column-reverse;

  @include desktop {
    flex-direction: row;
  }
}

.info-deposits {
  background-color: #4768ae;
}

.info-deposits__container {
  display: flex;
  padding: 61px 20px 65px 20px;
  gap: 20px;
  font-size: 14px;
  line-height: 20px;
  @include tablet { 
    font-size: 16px;
    line-height: 26px;
  }


  img {
    width: 36px;
    height: 36px;
  }
}

.verification {
  background: url("../img/verifyBG.jpeg") center no-repeat;
}

.verification__container {
  padding: 100px 20px 86px 20px;
  gap: 45px;

  @include desktop {
    display: flex;
  }

  p {
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    @include tablet { 
      font-size: 16px;
      line-height: 26px;
    }

  }
}

.verification__wrap-left {
  max-width: 512px;

  h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 28px;
    @include tablet { 
      font-size: 48px;
      font-weight: 700;
      line-height: 62px;
      margin-bottom: 48px;
    }

  }
}

.verification__wrap-right {
  h3 {
    @include tablet { 
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
      max-width: 500px;
      margin: 40px 0;
    }
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    max-width: 500px;
    margin: 40px 0;

    @include desktop {
      margin: 0 0 40px 0;
    }
  }
  ul {
    list-style: none;
  }
  a {
    color: white;
  }
  p {
    margin-top: 40px;

    @include desktop {
      margin-top: 122px;
    }
  }
}

.verification__card {
  display: flex;
  padding: 17px;
  background-color: white;
  color: #101010;
  border-radius: 6px;
  gap: 12px;
  margin-bottom: 22px;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;

  img {
    width: 34px;
    height: 34px;
  }
}

.withdrawals {
  background-color: #2c3378;
}

.withdrawals__wrap {
  margin: 0 auto;
  display: flex;
  max-width: 1920px;

  @include tablet { 
    background: linear-gradient(rgba(43, 51, 120, 0.7), rgba(43, 51, 120, 0.7)),
    url("../img/withdrawals.jpeg") top no-repeat;
  background-size: 100%, 100%, 100% 50%, 60% auto;
  }


  @include desktop {
    background: url("../img/withdrawals.jpeg") top right no-repeat;
  }
}

.withdrawals__container {
  padding: 100px 20px 120px 20px;
}

.withdrawals__desription {
  max-width: 520px;
  padding: 20px 20px 120px 0;

  @include desktop {
    background-color: #2c3378;
    padding: 20px 20px 120px 0;
    border-top-right-radius: 20px;
  }

  h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 28px;
    @include tablet { 
      font-size: 48px;
      font-weight: 700;
      line-height: 65px;
      margin-bottom: 48px;
    }

  }
  p {
    font-size: 14px;
    line-height: 20px;
    @include tablet { 
    font-size: 16px;
    line-height: 26px;
    }

  }
}

.withdrawals__is {
  h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 30px;
    @include tablet { 
      max-width: 520px;
      font-size: 36px;
      line-height: 50px;
      margin-bottom: 40px;
    }


    @include desktop {
      background-color: #2c3378;
    }
  }
  p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 40px;
    @include tablet { 
      max-width: 1000px;
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 80px;
    }

  }
}

.withdrawals__cards {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include desktop {
    flex-direction: row;
    align-items: start;
  }
}
.withdrawals__card {
  width: 100%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  margin-bottom: 40px;

  @include tablet {
    height: 262px;
    width: 50%;
    flex-direction: column;
  }
  @include desktop {
    width: calc((100% - 80px) / 3);
  }

  h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 46px;
    width: 46px;
    height: 46px;
    border-radius: 23px;
    background-color: white;
    color: #2c3378;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p {
    text-align: center;
    a {
      color: white;
    }
  }
}

.withdrawals__info {
  display: flex;
  padding: 34px 32px 34px 34px;
  background-color: white;
  color: #101010;
  gap: 20px;
  font-size: 16px;
  line-height: 26px;
  border-radius: 20px;

  img {
    width: 36px;
    height: 36px;
  }
  p {
    margin: 0;
    max-width: 100%;
  }
}

.poof {
  background: #fafbff;

  padding: 60px 0;
  color: #101010;

  @include tablet { 
    padding: 120px 0;
  }
}

.poof__cards {
  list-style: none;
  display: flex;
  gap: 40px;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
  }
}
.poof__card {
  padding: 34px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  gap: 36px;

  @include desktop {
    width: calc((100% - 40px) / 2);
  }

  div {
    padding: 20px;
    background-color: #fafbff;
    border-radius: 20px;

    h3 {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 24px;

      @include tablet { 
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 24px;
      }

    }
  }
  h2 {
    font-size: 24px;
    line-height: 30px;
    @include tablet { 
      font-size: 32px;
      line-height: 43px;
    }
  }
  p {
    font-size: 14px;
    line-height: 20px;
    @include tablet { 
      font-size: 16px;
      line-height: 26px;
    }
  }

  strong {
    // font-size: 16px;
    font-weight: 600;
    // line-height: 26px;
  }
}
.poof__checkbox {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  li {
    display: flex;
    gap: 12px;
    align-items: center;
  }
  img {
    width: 22px;
    height: 22px;
  }
  span {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
  }
}



.card-verify {
  background: #2c3378;
  padding: 120px 0;
}
.card-verify__container {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
  }
}
.card-verify__wrap-left {
  width: 100%;
  padding-right: 20px;

  @include desktop {
    width: 50%;
  }

  h2 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 28px;
    @include tablet { 
      font-size: 48px;
      font-weight: 700;
      line-height: 65px;
      margin-bottom: 48px;
    }

  }
  p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 24px;
    @include tablet { 
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 44px;
    }

  }
}
.card-verify__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.card-verify__item {
  display: flex;

  &::before {
    content: "";
    display: inline-block;
    border-radius: 6px;
    width: 12px;
    height: 12px;
    margin-top: 7px;
    min-width: 12px;
    background-color: #425cbb;
    margin-right: 15px;

    font-size: 14px;

    @include tablet { 
      font-size: 16px;
    }
  }
}
.card-verify__wrap-right {
  width: 100%;
  margin-top: 48px;

  @include desktop {
    margin-top: 0;
    padding-left: 120px;
    width: 50%;
  }
}

.card-verify__info {
  background-color: white;
  color: #101010;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  gap: 20px;
  padding: 34px;
  border-radius: 20px;

  img {
    width: 36px;
    height: 36px;
  }
}

.transfer {
  padding: 60px 0;

  @include tablet { 
    padding: 120px 0;
  }
}

.transfer__container {
  display: flex;
  justify-content: space-between;

}
.transfer-bg { 
  display: none;
  @include tablet {
    display: block;
    border-radius: 20px;
    width: calc(50% - 20px);
    height: 455px;
}
}

.transfer__wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  
  justify-content: center;

  @include tablet {
    width: calc(50% - 20px);
    gap: 48px;
  }

  h2 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.96px;
    @include tablet { 
      line-height: 54px;
      font-size: 48px;
      letter-spacing: 0.96px; 
    }
    line-height: 54px;
    font-size: 48px;
    letter-spacing: 0.96px;

    @include desktop {
      line-height: 48px;
    }
  }
  p {

    font-size: 14px;
    line-height: 20px;
    @include tablet { 
      font-size: 18px;
      line-height: 25px;
    }

  }
}


.desctiption-img { 
  border-radius: 20px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
  max-height: 250px;

  @include tablet {
    display: none;
  }
}