.hero {
  padding: 86px 0px 60px 0px;

  &__top {
    @include flex-wrap (flex, wrap, column, 50px );
  
    @include tablet { 
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__title-wrp {
    max-width: 450px;
    @include desktop { 
      max-width: 600px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 400;
    display: block;
    margin-bottom: 52px;
    @include desktop { 
      font-size: 40px;
      font-style: normal;
      line-height: 130%;
      text-transform: capitalize;
      font-weight: 500;
    }
  
  }

  &__title b {
    font-weight: 800;
    
  }

  &__img-wrp {
    max-width: 420px;
    position: relative;
    z-index: 1;
    margin-bottom: 60px;
  }

  &__img-wrp::after {
    content: "";
    display: block;
    width: 100%;
    height: 77%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.10);
    position: absolute;
    bottom: 5%;
    left: 0;
    z-index: -1;
  }

  &__bottom {
    font-size: 20px;
  }

  &__slogan {
    padding: 34px 20px;
    border-radius: 20px;
    background: #FFF;
    font-size: 18px;
    color: var(--secondary-text-color);
    font-weight: 500;
    text-align: center;
    margin-bottom: 32px;
    @include desktop { 
      font-size: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__slogan b{
    font-weight: 700;
  }

  &__benefits {
    padding: 24px 34px;
    border-radius: 20px;
    background: rgba(61, 65, 153, 0.60);
    text-align: center;
    @include tablet { 
      text-align: left; 
    }
   
  }

  &__benefits-list {
    @include flex-wrap (flex, wrap, row, 30px);
    justify-content: center;

    @include tablet { 
      align-items: flex-start;
      gap: 24px;
      align-items: baseline;
      justify-content: center;
    
    }
  }

  &__benefits-item {
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1); 
    font-size: 18px;
    width: calc((100% - 30px) / 2);
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet { 
      width: calc((100% - 120px) / 6);
      gap: 20px;
    }
  }

  &__benefits-icon {
    width: 76px;
    height: 76px;
    fill: currentColor;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1); 
    margin-bottom: -15px;
  }
  
}


.hero__benefits-item:hover .hero__benefits-icon { 
  fill: var(--accent-color);
}
.hero__benefits-item:hover, .hero__benefits-item:focus  { 
  color: var(--accent-color);
}
.hero__benefits-item:focus .hero__benefits-icon { 
  fill: var(--accent-color);
}


.hero__benefits-txt {
  max-width: 158px;

  font-size: 14px; 
  text-align: center;

  @include tablet { 
    font-size: 16px; 
    text-align: left;
  }
}
