
.progress { 
    background-color: #2c3378;
    padding: 80px 0;
    background-image: url('../img/reg-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &__title { 
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 135.687%;
        margin-bottom: 70px;

        @include desktop { 
            font-size: 48px;  
        }


    @include desktop {
      font-size: 48px;
    }
  }


  &__item img{
    width: 100px;
  }


  &__item{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

&__item--first::after { 
    display: none; 
    @include desktop { 
        display: block;
        content: " ";
        height: 3px;
        background: #6C8CD0;
        width: 150px;
        position: absolute;
        top: 40%;
        left: 110px;
    }
}

&__item--second::after { 
    display: none; 
    @include desktop { 
        display: block;
        content: " ";
        height: 3px;
        background: #6C8CD0;
        width: 150px;
        position: absolute;
        top: 40%;
        left: 160px;
    }

}


&__list { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    max-width: 660px;
    margin: 0 auto;
    margin-bottom: 66px;
    @include tablet { 
        flex-direction: row; 
    }


}

&__btn  { 
    margin: 0 auto;
}

}


    