.banner { 
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(rgba(114, 143, 206), rgba(114, 143, 206)), url('../img/trading-platform-baner.jpg');
    background-size: 100%, 100% 0%, 100% auto; 
    background-position: center, bottom, top;
    background-repeat: no-repeat;
    padding: 50px 0;

    @include tablet { 
        background: url('../img/bg-pattern.svg'), linear-gradient(rgba(114, 143, 206), rgba(114, 143, 206)), url('../img/trading-platform-baner.jpg');
        padding: 80px 0;
        background-size: 60% auto, 60% 100%, 60% auto; 
        background-position: right center, right, left;
        background-repeat: repeat-y, no-repeat, no-repeat;
    }

    @include desktop { 
        background: url('../img/bg-pattern.svg'), linear-gradient(rgba(114, 143, 206), rgba(114, 143, 206)), url('../img/trading-platform-baner.jpg');
        padding: 100px 0;
        background-size: 60% auto, 60% 100%, 60% auto; 
        background-position: right center, right, left;
        background-repeat: repeat-y, no-repeat, no-repeat;
    }


    &__text-content { 
        margin-left: 30%; 

        @include tablet { 
            margin-left: 55%;
        }
    }

    &__title { 
        font-size: 24px;
        font-weight: 700;
        line-height: 40px;
        margin-bottom: 30px;
        @include desktop{ 
            font-size: 48px;
            line-height: 62px;
            margin-bottom: 48px;
        }
    }

    &__text { 
        font-size: 16px;
        @include tablet { 
            font-size: 19px;
            font-weight: 500;
            line-height: 30px;
        }
    }
}

.banner--deposits { 
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(rgba(114, 143, 206), rgba(114, 143, 206)), url('../img/deposits-hero.jpeg');
    background-size: 100%, 100% 0%, 100% auto; 
    background-position: center, bottom, top;
    background-repeat: no-repeat;
    padding: 50px 0;


    @include tablet { 
        background: url('../img/bg-pattern.svg'), linear-gradient(rgba(114, 143, 206), rgba(114, 143, 206)), url('../img/deposits-hero.jpeg');
        padding: 80px 0;
        background-size: 60% auto, 60% 100%, 60% auto; 
        background-position: right center, right, left;
        background-repeat: repeat-y, no-repeat, no-repeat;
    }

    @include desktop { 
        background: url('../img/bg-pattern.svg'), linear-gradient(rgba(114, 143, 206), rgba(114, 143, 206)), url('../img/deposits-hero.jpeg');
        padding: 100px 0;
        background-size: 60% auto, 60% 100%, 60% auto; 
        background-position: right center, right, left;
        background-repeat: repeat-y, no-repeat, no-repeat;
    }
}


.banner--deposits { 
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(rgba(114, 143, 206), rgba(114, 143, 206)), url('../img/deposits-hero.jpeg');
    background-size: 100%, 100% 0%, 100% auto; 
    background-position: center, bottom, top;
    background-repeat: no-repeat;
    padding: 50px 0;


    @include tablet { 
        background: url('../img/bg-pattern.svg'), linear-gradient(rgba(114, 143, 206), rgba(114, 143, 206)), url('../img/deposits-hero.jpeg');
        padding: 80px 0;
        background-size: 60% auto, 60% 100%, 60% auto; 
        background-position: right center, right, left;
        background-repeat: repeat-y, no-repeat, no-repeat;
    }

    @include desktop { 
        background: url('../img/bg-pattern.svg'), linear-gradient(rgba(114, 143, 206), rgba(114, 143, 206)), url('../img/deposits-hero.jpeg');
        padding: 100px 0;
        background-size: 60% auto, 60% 100%, 60% auto; 
        background-position: right center, right, left;
        background-repeat: repeat-y, no-repeat, no-repeat;
    }
}

.banner--news { 
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(rgba(114, 143, 206), rgba(114, 143, 206)), url('../img/banner-news.jpg');
    background-size: 100%, 100% 0%, 100% auto; 
    background-position: center, bottom, top;
    background-repeat: no-repeat;
    padding: 50px 0;


    @include tablet { 
        background: url('../img/bg-pattern.svg'), linear-gradient(rgba(114, 143, 206), rgba(114, 143, 206)), url('../img/banner-news.jpg');
        padding: 80px 0px 120px 0px;
        background-size: 60% auto, 60% 100%, 60% auto; 
        background-position: right center, right, left;
        background-repeat: repeat-y, no-repeat, no-repeat;
    }

    @include desktop { 
        background: url('../img/bg-pattern.svg'), linear-gradient(rgba(114, 143, 206), rgba(114, 143, 206)), url('../img/banner-news.jpg');
        padding: 100px 0px 170px 0px;
        background-size: 60% auto, 60% 100%, 60% auto; 
        background-position: right center, right, left;
        background-repeat: repeat-y, no-repeat, no-repeat;
    }
}

.banner--account { 
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(rgba(114, 143, 206), rgba(114, 143, 206)), url('../img/bannerAccount-Types.jpg');
    background-size: 100%, 100% 0%, 100% auto; 
    background-position: center, bottom, top;
    background-repeat: no-repeat;
    padding: 50px 0;


    @include tablet { 
        background: url('../img/bg-pattern.svg'), linear-gradient(rgba(114, 143, 206), rgba(114, 143, 206)), url('../img/bannerAccount-Types.jpg');
        padding: 80px 0px 120px 0px;
        background-size: 60% auto, 50% 100%, 60% auto; 
        background-position: right center, right, left;
        background-repeat: repeat-y, no-repeat, no-repeat;
    }

    @include desktop { 
        background: url('../img/bg-pattern.svg'), linear-gradient(rgba(114, 143, 206), rgba(114, 143, 206)), url('../img/bannerAccount-Types.jpg');
        padding: 100px 0px 170px 0px;
        background-size: 50% auto, 50% 100%, 60% auto; 
        background-position: right center, right, left;
        background-repeat: repeat-y, no-repeat, no-repeat;
    }
}

.banner--about-us { 
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(rgba(114, 143, 206), rgba(114, 143, 206)), url('../img/banner-about-us.jpg');
    background-size: 100%, 100% 0%, 100% auto; 
    background-position: center, bottom, top;
    background-repeat: no-repeat;
    padding: 50px 0;

    @include tablet { 
        background: url('../img/bg-pattern.svg'), linear-gradient(rgba(114, 143, 206), rgba(114, 143, 206)), url('../img/banner-about-us.jpg');
        padding: 80px 0px 120px 0px;
        background-size: 60% auto, 60% 100%, 60% auto; 
        background-position: right center, right, left;
        background-repeat: repeat-y, no-repeat, no-repeat;
    }

    @include desktop { 
        background: url('../img/bg-pattern.svg'), linear-gradient(rgba(114, 143, 206), rgba(114, 143, 206)), url('../img/banner-about-us.jpg');
        padding: 100px 0px 170px 0px;
        background-size: 60% auto, 60% 100%, 60% auto; 
        background-position: right center, right, left;
        background-repeat: repeat-y, no-repeat, no-repeat;
    }
}

.banner--contact-us, .banner--faq { 
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(rgba(114, 143, 206), rgba(114, 143, 206)), url('../img/banner-faq.jpg');
    background-size: 100%, 100% 0%, 100% auto; 
    background-position: center, bottom, top;
    background-repeat: no-repeat;
    padding: 50px 0;

    @include tablet { 
        background: url('../img/bg-pattern.svg'), linear-gradient(rgba(114, 143, 206), rgba(114, 143, 206)), url('../img/banner-faq.jpg');
        padding: 80px 0px 120px 0px;
        background-size: 60% auto, 60% 100%, 60% auto; 
        background-position: right center, right, left;
        background-repeat: repeat-y, no-repeat, no-repeat;
    }

    @include desktop { 
        background: url('../img/bg-pattern.svg'), linear-gradient(rgba(114, 143, 206), rgba(114, 143, 206)), url('../img/banner-faq.jpg');
        padding: 100px 0px 170px 0px;
        background-size: 60% auto, 60% 100%, 60% auto; 
        background-position: right center, right, left;
        background-repeat: repeat-y, no-repeat, no-repeat;
    }
}


.banner--instruments { 
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(rgba(114, 143, 206), rgba(114, 143, 206)), url('../img/banner-Asset-Selection.jpg');
    background-size: 100%, 100% 0%, 100% auto; 
    background-position: center, bottom, top;
    background-repeat: no-repeat;
    padding: 50px 0;


    @include tablet { 
        background: url('../img/bg-pattern.svg'), linear-gradient(rgba(114, 143, 206), rgba(114, 143, 206)), url('../img/banner-Asset-Selection.jpg');
        padding: 80px 0px 120px 0px;
        background-size: 60% auto, 60% 100%, 60% auto; 
        background-position: right center, right, left;
        background-repeat: repeat-y, no-repeat, no-repeat;
    }

    @include desktop { 
        background: url('../img/bg-pattern.svg'), linear-gradient(rgba(114, 143, 206), rgba(114, 143, 206)), url('../img/banner-Asset-Selection.jpg');
        padding: 100px 0px 170px 0px;
        background-size: 60% auto, 60% 100%, 60% auto; 
        background-position: right center, right, left;
        background-repeat: repeat-y, no-repeat, no-repeat;
    }
}

.banner--calculator { 
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(rgba(114, 143, 206), rgba(114, 143, 206)), url('../img/banner-calculators.jpg');
    background-size: 100%, 100% 0%, 100% auto; 
    background-position: center, bottom, top;
    background-repeat: no-repeat;
    padding: 50px 0;


    @include tablet { 
        background: url('../img/bg-pattern.svg'), linear-gradient(rgba(114, 143, 206), rgba(114, 143, 206)), url('../img/banner-calculators.jpg');
        padding: 80px 0px 120px 0px;
        background-size: 60% auto, 60% 100%, 60% auto; 
        background-position: right center, right, left;
        background-repeat: repeat-y, no-repeat, no-repeat;
    }

    @include desktop { 
        background: url('../img/bg-pattern.svg'), linear-gradient(rgba(114, 143, 206), rgba(114, 143, 206)), url('../img/banner-calculators.jpg');
        padding: 100px 0px 170px 0px;
        background-size: 60% auto, 60% 100%, 60% auto; 
        background-position: right center, right, left;
        background-repeat: repeat-y, no-repeat, no-repeat;
    }
}


.banner--resources { 
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(rgba(114, 143, 206), rgba(114, 143, 206)), url('../img/banner-resourses.jpg');
    background-size: 100%, 100% 0%, 100% auto; 
    background-position: center, bottom, top;
    background-repeat: no-repeat;
    padding: 50px 0;


    @include tablet { 
        background: url('../img/bg-pattern.svg'), linear-gradient(rgba(114, 143, 206), rgba(114, 143, 206)), url('../img/banner-resourses.jpg');
        padding: 80px 0px 120px 0px;
        background-size: 50% auto, 50% 100%, 60% auto; 
        background-position: right center, right, left;
        background-repeat: repeat-y, no-repeat, no-repeat;
    }

    @include desktop { 
        background: url('../img/bg-pattern.svg'), linear-gradient(rgba(114, 143, 206), rgba(114, 143, 206)), url('../img/banner-resourses.jpg');
        padding: 100px 0px 170px 0px;
        background-size: 50% auto, 50% 100%, 60% auto; 
        background-position: right center, right, left;
        background-repeat: repeat-y, no-repeat, no-repeat;
    }

}