:root {
    --text-color: #ffffff;
    --secondary-text-color: #101010;
    --accent-color: #5CB3FF;
    --primary-background: linear-gradient(209deg, #728FCE 19%, #7281CE 30.75%, #728FCE 46.56%);
    --secondary-background-color: #FAFBFF;
  }

